/*  * Posicione o Mário acima do Goomba.
    * Posicione a tag p para que fique dentro do balão de fala.
    * Posicione o balão para que se torne uma fala de Bowser */

h1 {
    position: fixed;
    left: 230px;
    font-size: 50px;
}

.super-mario {
    width: 220px;
    top: 100px;
    left: 50px;
    position: absolute;
    z-index: 3;
}
  
  .goomba {
    width: 150px;
    top: 410px;
    left: 200px;
    position: absolute;    
  }
  
  .baloon {
    left: 420px;
    top: 200px;
    position: absolute;
    z-index: 1;
  }
  
  .speach {
    font-size: 25px;
    left: 440px;
    top: 235px;
    position: absolute;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    top: 350px;
    left: 700px;
    position: absolute;
  }